:root {
    --main-color1: #0e2240;
    --main-color2: #fec524 ;
    --main-color3: #8b2131;
    --main-color4: black;
    --main-color5: white;
    --main-color6: #4F92CE;
    --main-color7: #bfbfbf;

    --main-card-width: 290px;
}
body {
   background-color: var(--main-color5);
   overflow:scroll;
}

#main-node-pool {
    background-color: var(--main-color4);
    height: 600px;
}

.node_pool {

}

.ul_nodes {
    margin: 30px;
}
.ul_rels {
    margin: 30px;
}

.node {
    margin: 10px;
    background: var(--main-color6);
    max-width:200px;
    border-radius: 5px;
}


.node:hover {
    background: var(--main-color3);
}

.node_button {
    width: 100%;
    position: relative;
    text-align: left;
    padding: 5px;
    background: var(--main-color6);
    border-radius: 5px;

}

.node_button:hover {
    background: var(--main-color3);
}


.rel {
    margin: 10px;
    background: var(--main-color2);
    max-width:200px;
    border-radius: 5px;
}

.port {
  height: 3px;
  width: 3px;
  background-color: white;
  border-radius: 50%
}
.link {
  color: white;
  stroke:rgb(255,0,0);
  stroke-width:2;
}

#canvas {
    border: 2px solid black;
}